<div class="container">
  <nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <% for( let i = 0; i < breadcrumbs.length; i++ ) { %>
      <% if (i == breadcrumbs.length - 1) { %>
      <li class="breadcrumb-item active" aria-current="page"><%- breadcrumbs[i].title %></li>
      <% } else { %>
      <li class="breadcrumb-item"><a href="<%- breadcrumbs[i].link %>"><%- breadcrumbs[i].title %></a></li>
      <% } %>
      <% } %>
    </ol>
  </nav>
</div>