<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="/"><strong>Nodejs Practice</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users">User Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/todos">To-dos Management</a>
                    </li>
                </ul>
                <ul class="navbar-nav" id="authArea"></ul>
            </div>

        </div>
    </nav>
</header>