<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("partials/stylesheets") %>
    <title>Register</title>
</head>

<body>
    <%- include ("partials/header") %>

    <div class="container mt-3">
        <h2 class="text-center">REGISTER</h2>
        <div class="row justify-content-md-center">
            <form id="formRegister" method="POST" class="col-6">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Type Email">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Type Password">
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input id="inputConfirmPassword" type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-info" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>

    <%- include ("partials/footer") %>
    <%- include ("partials/scripts") %>
    <script>
        if (localStorage.getItem("user_id")) {
            window.location.href = "/";
        }
    </script>
</body>

</html>