<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("partials/stylesheets") %>
    <title>Todos</title>
</head>

<body>
    <%- include ("partials/header") %>
    <%- include ("partials/breadcrumb", {breadcrumbs : breadcrumbs}) %>

    <div class="container">
        <button class="btn btn-primary mb-3" id="btnCreate">Create</button>
        <table id="tableTodos" class="table table-bordered">
            <colgroup>
                <col style="width: 30%;">
                <col>
                <col style="width: 200px;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Todo Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contentModalLabel">Create todo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="inputID">
                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input id="inputTitle" type="text" name="title" class="form-control" placeholder="Type Title">
                    </div>
                    <div class="form-group">
                        <label for="inputContent">Content</label>
                        <textarea name="content" id="inputContent" rows="10" class="form-control" placeholder="Type Content" style="width: 466px;height: 300px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSubmitTodo" value="create" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <%- include ("partials/footer") %>
    <%- include ("partials/scripts") %>

    <script>
        loadTodos();
    </script>

</body>

</html>