body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: red;
}

a,a:hover{
    text-decoration: none;
}

footer {
    border-top: 1px solid #dcdcdc;
    padding: 10px;
    background: #f7f7f7;
    margin-top: 15px;
}